   <!-- /.container -->
  <!----- call script code start here -->



  <footer class="footer">


    <div class="footer-upper">
      <div class="container-fluid">
        <img src="../../assets/images/foot-image.png">
      </div>
    </div>

    <div class="footer-lower">
      <div class="container-fluid">
        <ul class="footer_nav">
          <li><a href="#">login</a></li>
          <li><a href="#">register</a></li>
          <li><a href="#">company information</a></li>
          <li><a href="#">contact us</a></li>
        </ul>

        <p class="real_copyright">RealVoice Sell Notes 2015 3.0 i7</p>
      </div>
    </div>

    <div class="logOverlay" style="display: none;"></div>
  </footer>




