
<div class="container-fluid mainList general_info">
  <div class="row">
    <div class="col-lg-3 col-md-3 w-7 easyIt">
      <!--<div class="top_bars top_side easyIt collaspeIcon ">
        <a href="#">
          <i class="fa fa-list"></i><i class="fa fa-caret-left"></i>
          <span>Collaspe Menus</span>
        </a>
      </div>-->

      <div class="list-group top__tabs" id="tabs1">
        <li>
          <a class="list-group-item active" id="tab7" href="#"><i class="fa fa-info-circle"></i>General information</a>

        </li>
        <li>
          <a class="list-group-item inactive" id="tab8" href="#"><i class="fa fa-question-circle"></i>FAQ</a>

        </li>

        <li>
          <a class="list-group-item inactive" id="tab9" href="#"><i class="fa fa-qrcode  "></i>Policies and Procedures</a>

        </li>

        <li>
          <a class="list-group-item inactive" id="tab10" href="#"><i class="fa fa-life-ring "></i>Parking</a>

        </li>

        <li>
          <a class="list-group-item inactive" href="#" id="tab11"><i class="fa fa-info-circle"></i>Additional Information</a>

        </li>

      </div>


    </div>
    <app-brand-detail></app-brand-detail>
  </div>
  <div class="container-fluid mainList general_info">
    <div class="row">
      <div class="col-lg-3 col-md-3 w-7 easyIt" style="padding-left:0;">
        <div class="top_bars top_side easyIt collaspeIcon ">
          <a href="#">
            <i class="fa fa-list"></i><i class="fa fa-caret-left"></i>
            <span>Collaspe Menus</span>
          </a>  
        </div>
      </div>
    </div>

  </div>

</div>





